<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>
  <testsuites>
    <testsuite name="Syncs Test Suite">
      <directory suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-config.php" />
  </php>
</phpunit>
